
 <div class="nested-fields">
    <div class="material-name">
      <%= f.label :material_name %>
    </div>
      <div>
       <%= f.text_field :material_name %>      
      </div>
        <div class="quantity_name">
         <%= f.label :quantity_name %>
         <%= f.text_field :quantity_name %> 
         <%= f.hidden_field :material_id, value: 1 %> 
         <%#= material_id はいらないです。理由：material modelのidがあるからです。マイグレーションファイルを作ってmaterial_idカラムを削除しましょう。削除した後は、上のhiddenは不要です。 %>
        <div>
            
          <div id="cooks", class="cook-list">
            <%= f.fields_for :cooks do |cook| %>
              <%= render 'cook_fields',f: cook %>
            <% end %>

            <div id="link">
            <%= link_to_add_association 'add cook',f, :cooks %>
            </div>
          </div> 


         <%= link_to_remove_association "削除", f %>
     </div>
 </div>


