
 <div class="nested-fields">
    <div class="material-name">
      <%= f.label :material_name %>
    </div>
      <div>
       <%= f.text_field :material_name %>      
      </div>
        <div class="quantity_name">
         <%= f.label :quantity_name %>
         <%= f.text_field :quantity_name %>    
        <div>
         <%= link_to_remove_association "削除", f%>
     </div>
 </div>


