<p id="notice"><%= notice %></p>

<p>
  <strong>Material name:</strong>
  <%= @material.material_name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @material.project_id %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
